{
    "url": "<url>",
    "key": "<key>",
    "database": "<databaseId>",
    "collection": "<collectionId>",
    "storedProcPath": "example/storedProcs",
    "documentPath" : "example/documents",
    "triggerPath" : "example/triggers",
    "userDefinedFunctionPath" : "example/userDefinedFunctions"
}