{
    url: "https://tripfiddle.documents.azure.com:443/",
    key: "sXhzayoJ954RG5ahmVOtsnWgtr1Ofbz5yFGSaHUzS3h1IPRSHtHP1c2Hu0qENZLOeLUPFFAg9GJx2KT4w58Dww==",
    database: "tripfiddle",
    collection: "Plan",
    storedProcsPath: "db/storedProcs",
    triggerPath: "db/triggers",
    documentPath: "db/storeProcs",
    userDefinedFunctionPath: "db/storeProcs",
}